.modal {
  background-color: white;
  width: 50%;
  height: 30%;
  padding: 20px;
  border: black 1px solid;
  position: fixed;
  top: 30%;

  /*Center horizontal:*/
  left: 50%;
  transform: translateX(-50%);

  z-index: 200;
}

.YNButtons {
  position: absolute;
  bottom: 3px;
  right: 30px;
}

.OKButton {
  position: absolute;
  bottom: 3px;
  right: 30px;
}
